// Establishing Variables
$mainBlue: #0072bc;
$darkBlue: #014f83;

* {
    box-sizing: border-box;
}
body {
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 auto;
}
#signup-video {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.signup-form-area {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    form {
        background: #ffffff;
        width: 100%;
        height: 500px;
        border: 15px solid $darkBlue;
        border-radius: 10px;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px;
        margin: 10%;
        #form-logo {
            width: 100%;
            text-align: center;
            img {
                width: 100px;
            }
        }
        #form-title {
            display: flex;
            justify-content: center;
            h2 {

            }
        }
        #input-area {
            width: 300px;
            padding-top: 50px;
            margin: auto;
            display: flex;
            flex-direction: column;
            label {

            }
            input {
                margin-bottom: 5px;
            }
        }
        #buttons-area {
            display: flex;
            flex-direction: row;
            justify-content: center;
            input {
                margin: 0 100px 0 0;
            }
            a {

            }
        }
    }
}